.day-card__wrapper {
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.day-card__header {
    padding: 0.5em;
    display: flex;
    border-bottom: 1px solid gray;
    
}

.header-day__status {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-day__date {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.header-day__code {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.header-day__date > time {
    text-align: center;

}

.header-sunset {
    display: flex;
    justify-items: center;
    gap: 0.5rem;

}

.header-sunset__icons {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-sunset__time {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-sunset__time > p {
  font-size: xx-small;
}

.day-card__main {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}



@media only screen and (max-width: 600px) {
    .header-day__date > time {
        font-size: xx-small;
    
    }

    .day-card__header {
        justify-content: space-around;
    }

    .header-sunset {
        width: 30%;
    }

    .header-day__status {
        width: 50%;
    }

    .header-sunset__icons {
        margin-top: 1rem;
      }

}



@media only screen and (min-width: 600px) {

    .header-day__date > time {
        font-size: large;
    
    }

    .day-card__header {
        justify-content: space-around;
    }

    .header-sunset {
        width: 30%;
    }

    .header-day__status {
        width: 50%;
    }

    .header-sunset__time > p {
        font-size: small;
      }

      .header-sunset__icons {
        margin-top: 1.5rem;
      }

      .day-card__main {
        font-size: larger;
      }
}




@media only screen and (min-width: 992px) {
    .day-card__wrapper {
        margin-top: 3rem;
    }

    .header-day__status {
        width: 60%;
    }
}



@media only screen and (min-width: 1200px) {
    .day-card__wrapper {
        margin-top: 3rem;
        min-height: 25vh;
    }

    .header-day__status {
        width: 80%;
    }

}
