.weather-view__wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0.5em;

}

.weather-view-cards__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 1rem;
    
}


.weather-view__wrapper > h2 {
    text-align: center;
}


@media only screen and (min-width: 992px) {
    .weather-view-cards__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .weather-view-cards__wrapper > h2 {
        position: absolute;
        font-size: xx-large;
    }

}




@media only screen and (min-width: 1200px) {
    .weather-view-cards__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .weather-view-cards__wrapper > h2 {
        position: absolute;
        font-size: xx-large;
    }

}
