.map-wrapper {
    width: 100%;
    padding: 0.5em;
}

.map-wrapper a{
    fill: green;
    stroke: black;
    stroke-width: 4px;
    transition: fill 0.3s;
}
.map-wrapper a:hover {
    fill: beige;
    cursor: pointer;
}



@media only screen and (min-width: 992px) {
    .map-wrapper {
        width: 70%;
        margin: auto;
     }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .map-wrapper {
        width: 50%;
        margin: auto;
     }

}
