.header__wrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-bottom: 1em;
}


.header-logo__wrapper {
    width: 7rem;
    border: 4px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    border-style: dashed;
    padding: 1em;
    margin: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.header-logo__desc {
    text-align: center;
    margin: 0;
    font-size: x-small;
    font-weight: bold;
}

.header-title__wrapper {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
}

.header-title__wrapper > p {
    font-size: x-large;
}

.header-theme {
    width: 5%;
    height: 5vh;
    cursor: pointer;
    padding-top: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header__wrapper {
        flex-direction: column;
    }

    .header-logo__wrapper {
        align-self: center;
        margin: 0.5rem;
    }

    .header-title__wrapper {
        font-size: medium;
    }

    .header-title__wrapper > p {
        font-size: small;
    }

    .header-theme {
        margin: auto;
        width: 10%;
    }
    
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-title__wrapper {
        font-size: large;
    }

    .header-title__wrapper > p {
        font-size: large;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-title__wrapper {
        font-size: larger;
    }

    .header-title__wrapper > p {
        font-size: x-large;
    }
}
